.home-header {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
.products-header {
  max-width: 1440px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
.cart-heading {
  margin: 0 auto;
}
