.nav-list {
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  margin: 0;
  padding: 1rem 0;
  /* border-radius:  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item a:hover {
  color: blueviolet;
  text-decoration: underline;
}

#logo {
  color: blue !important;
}
