/* PRODUCT SECTION */
.product-search {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
}
#search {
  width: 100%;
  height: 30px;
  border: 1px solid grey;
}
#redirect {
  text-decoration: none;
  color: black;
}
.product-container {
  @include grid-5;
  grid-gap: 10px;
  margin-bottom: 50px;
  text-align: center;
  max-width: 1440px;
}
.product-card {
  box-shadow: 0px 0px 10px lightgray;
  .image-container {
    min-height: 200px;
  }
  .info-container {
    text-align: center;
    min-height: 120px;
  }
}

/* PRODUCT SECTION ENDS*/

/* PRODUCT DETAILS*/
.details-container {
  @include grid-2;
}
/* PRODUCT DETAILS ENDS */
