/* Text */
$primaryColor: #996515;

/* Button-backgrounds */
$primaryBtn: blue;
$secondaryBtn: white;
$updateBtn: green;
$dangerBtn: red;

/* Button-text-color */
$btnTextPrimary: white;
$btnTextSecondary: black;
