@import "_variables";
@import "_mixins";
@import "_header";
@import "_products";

/* SALES SECTION */
.sales-container {
  @include grid-2;
  grid-gap: 0.5em;
  margin-bottom: 50px;
  position: relative;
}
.christmas-sale {
  background-color: grey;
  text-align: center;
  height: 80vh;
}
.discount-percentage {
  background-color: rgba(128, 128, 128, 0.543);
  text-align: center;
  height: 350px;
  height: 80vh;
  img {
    width: 100%;
    height: 100%;
  }
}
/* SALES SECTION ENDS*/

/* SHIPPING SECTION */
.shipping {
  @include grid-3;
  grid-gap: 0.5em;
  min-height: 300px;
}
.shipping > div {
  background: #eee;
  padding: 1em;
}
.shipping-content {
  text-align: center;
  padding-top: 100px;
}
/* SHIPPING SECTION ENDS */

.nav-list {
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  margin: 0;
  padding: 1rem 0;
  /* border-radius:  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item a:hover {
  color: blueviolet;
  text-decoration: underline;
}

#logo {
  color: blue !important;
}

/* .parent {
  height: 100px;
  padding-bottom: 56.25%;
  position: relative;
}

.parent:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
} */
